@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
  --main-bg-color: #E2E2E2
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: none;
  border: none;
  background-color: var(--main-bg-color);
}

*:focus {
  outline: none;
}

.App{
  margin: 0 auto;
  width: 93.75vw;;
  height: 100vh;
  /* background-color: var(--main-bg-color); */
}

  .App .wrapper{
    margin: 0 auto;
    /* width: 93.75vw; */
    width: 80.83%;
    height: 100%;
    /* aspect-ratio: 1.5/1; */
    display: flex;
    flex-direction: column;
  }

  .wrapper .play-ground{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

    .play-ground .cell-wrapper{
      width: 100%;
      aspect-ratio: 970/145;
      margin-top: 4.2vw;
      display: flex;
    }

      .cell-wrapper .open-cell{
        /* flex-grow: 1; */
        width: 43.81%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .9375em;
      }

      .cell-wrapper .icon-wrapper{
        /* width: 10%; */
        flex-grow: 1;
        height: 100%;
      }
      
        .icon-wrapper .king-n-logo{
          margin: 0 auto;
          width: 76.3%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

          .king-n-logo .king{
            margin: 0 auto;
            width: 4.6875vw;
            height: 41.38%;
            background-image: url('../src/asset/king_happy.png');
            background-repeat: no-repeat;
            background-size: contain;
          }

          .king-n-logo .title{
            width: 100%;
            height: 11.72%;
            margin-top: .1875em;
            text-align: center;
            font: normal normal bold 0.875em/1.0625em 'Lato', sans-serif;
            letter-spacing: .0875em;
            color: #222222;
          }

      .cell-wrapper .foundation{
        /* flex-grow: 1; */
        width: 43.81%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .9375em;
      }

        .foundation .base-bg{
          background: #FCFCFC 0% 0% no-repeat padding-box;
          display: flex;
          justify-content: center;
          align-items: center;
        }

          .foundation .base-bg .mask-spade{
            width: 36.8%;
            height: 24%;
            mask: url('../src/asset/S.png') no-repeat;
            mask-size: 100% 100%;
            background-color: var(--main-bg-color);
          }

          .foundation .base-bg .mask-heart{
            width: 36.8%;
            height: 24%;
            mask: url('../src/asset/H.png') no-repeat;
            mask-size: 100% 100%;
            background-color: var(--main-bg-color);
          }

          .foundation .base-bg .mask-diamond{
            width: 36.8%;
            height: 24%;
            mask: url('../src/asset/D.png') no-repeat;
            mask-size: 100% 100%;
            background-color: var(--main-bg-color);
          }

          .foundation .base-bg .mask-club{
            width: 36.8%;
            height: 24%;
            mask: url('../src/asset/C.png') no-repeat;
            mask-size: 100% 100%;
            background-color: var(--main-bg-color);
          }

      .cell-wrapper .cell{
        width: 21.8%;
        height: 100%;
        border: 2px solid #FCFCFC;
        border-radius: 5px;
        opacity: 0.6;
      }  

    .play-ground  .card-table{
      flex-grow: 1;
      width: 100%;
    }

      .card-table .drag-section{
        margin-top: 3.75%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 0em 1.55%;
        justify-content: space-between;
        align-content: flex-start;
      }

        .card-table .drag-section .box{
          width: 9.79%;
          height: 4.854%;
        }

          .drag-section .box .card{
            position: absolute;
            width: 5.9375rem;
            aspect-ratio: 95/145;
            background-image: url('../src/asset/cards_background/C1.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
          }


  .wrapper .control-panel{
    width: 100%;
    height: 7.5%;
    border-top: 1px solid #00000022;
    display: flex;
    /* justify-content: space-between; */
  }

    .control-panel .board{
      flex-grow:1;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

      .board .show-rule{
        /* width: 9.14%; */
        height: 66.67%;
        aspect-ratio: 1/1;
        border: 2px solid #222222;
        border-radius: 50%;
        margin-left: 2.285%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

        .show-rule .spade{
          /* width: 50%; */
          height: 50%;
          aspect-ratio: 1/1;
          mask: url('../src/asset/S.png') no-repeat;
          mask-size: 100% 100%;
          background-color: #222222;
        }

      .board .board-text{
        text-align: left;
        font: normal normal bold 0.875em/1.0625em Lato;
        letter-spacing: .0875em;
        color: #222222;
      }

      .board .timer{
        width: 20.565%;
        height: 28.33%;
        margin-left: 4.57%;
      }

      .board .score{
        width: 15.995%;
        height: 28.33%;
      }

    .control-panel .buttons{
      width: 54.124%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

      .buttons .main-control{
        width: 22.86%;
        height: 66.67%;
        background: #222222 0% 0% no-repeat padding-box;
        border-radius: 3.125em;
        text-align: center;
        font: normal normal 900 .75em/.9375em 'Lato', sans-serif;
        letter-spacing: .075em;
        color: #FFFFFF;
        cursor: pointer;
      }
